body {
    background: #00d2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

h1 {
    color: aliceblue;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

div.random {
    width: 150px;
    min-height: 150px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}